<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link type="text/css" href="../css/layui.css">
    <script src="../js/layui.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jsencrypt/3.0.0-rc.1/jsencrypt.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://www.broofa.com/Tools/Math.uuid.js"></script>
</head>
<body>
<script type="text/javascript">
    var uuid = Math.uuid();
    alert(uuid)
</script>
</body>
</html>