<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
</head>
<body>
<h2>登录页</h2>
<form id="loginForm" action="/login" method="post">
    用户名：<input type="text" id="username" name="username"><br/><br/>
    密&nbsp;&nbsp;&nbsp;码：<input type="password" id="password" name="password"><br/><br/>
    <input type="text" id="code" name="code">
    <img id="verImg" width="113px" height="36px" onclick="getCode()"/>
    <button id="loginBtn" type="button">登录</button>
</form>
<script type="text/javascript" src="/static/js/jsencrypt.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/Math.uuid.js"></script>
<script type="text/javascript">
    var uuid = Math.uuid();
    $(function(){
        getCode();
    });

    function getCode(){
        $.ajax({
            type: "POST",
            url: "/getCode",
            data: {uuid : uuid},
            dataType: "JSON",
            success: function (data) {
                $("#verImg").attr("src", data.img);
            }
        });
    }

    $("#loginBtn").click(function () {
        $.ajax({
            type: "post",
            url: "/login",
            data: $("#loginForm").serialize(),
            dataType: "JSON",
            success: function (data) {
                console.log(data);
                if(data.code == 200){
                    window.location.href = "/index";
                }
            }
        });
    });

</script>
</body>
</html>
