<!doctype html>
<html  class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>后台登录-X-admin2.2</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/static/js/Math.uuid.js"></script>
    <script src="/static/js/jquery.jcryption.js"></script>
</head>
<body class="login-bg">
    <div class="login layui-anim layui-anim-up">
        <div class="message">x-admin2.0-管理登录</div>
        <div id="darkbannerwrap"></div>

        <form method="post" class="layui-form" >
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input name="code" placeholder="验证码" type="text" class="layui-input" style="width: 50%; display: inline">
            <img class="layui-img" style="width: 49%; height: 50px;" />
            <hr class="hr15">
            <input id="uuid" name="uuid" type="text" class="layui-input" style="display: none">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        var uuid = Math.uuid();
        var key = "";

        // 获取验证码
        function getCode(){
            $.ajax({
                type: "POST",
                url: "/getCode",
                data: {uuid : uuid},
                dataType: "JSON",
                success: function (data) {
                    $(".layui-img").attr("src", data.img);
                }
            });
        }

        // 获取key
        function getPublicKey(){
            $.ajax({
                type: "POST",
                url: "/getPublicKey",
                data: {uuid : uuid},
                dataType: "JSON",
                success: function (data) {
                    if(null == data){
                        layui.msg("请刷新页面登录", {icon: 5, time: 1000});
                        return false;
                    }

                    var str = data.key;
                    $.jCryption.getKeys(str, function(receivedKeys){
                        key = receivedKeys;
                    })
                }
            });
        }

        $(function(){
            getCode();
            getPublicKey();
            $("#uuid").val(uuid);
            layui.use('form', function (){
                var from = layui.form;

                // 表单提交
                from.on('submit(login)', function (obj) {
                    layer.load(2);

                    var oldPass = obj.field.password;
                    //主要是为了处理中文密码的情况
                    oldPass = encodeURIComponent(oldPass);

                    console.log(89)
                    //公钥加密
                    obj.field.password = $.jCryption.encrypt(oldPass, key)

                    $.ajax({
                        url: '/login',
                        data: $(".layui-form").serialize(),
                        type: 'POST',
                        success: function (data) {
                            if(data.code == 200){
                                layer.msg('登录成功', {icon: 1, time: 500}, function () {
                                    location.href='index.html'
                                });
                            }else {
                                layer.msg(data.message, {icon: 5, time: 1000});
                                $('.layui-img').trigger("click");
                            }
                        }
                    });

                    //阻止表单跳转
                    return false;
                });
            })
        })
    </script>
</body>
</html>